@import 'list-item/styles';

.enrollment {
  position: relative;
  height: 100%;
  @include display(flex);
  @include flex-direction(column);

  .frost-info-bar {
    .refresh {
      margin: 0 20px 0 auto;
      .timestamp {
        font-size: $frost-font-s;
        color: $frost-color-grey-5;
      }
    }
    .pre-enroll-icon {
      width: 85px;
    }
  }
  .action-button {
    width: 120px;
    margin-left: 5px;
  }
  .facets {
    padding: 0 20px; // TODO Add to the object browser pattern
  }

  .frost-object-browser {
	@include flex(1);
  }

  .tools .frost-detail-toggle {
    margin-left: auto;
    margin-right: 5px;
  }

  .frost-sort .frost-select input.trigger {
    font-size: 12px;
  }

  .frost-sort .frost-select li {
    font-size: 12px;
    line-height: 35px;
  }

  .last-col {
    width: 164px;  //190 total with padding and margins
  }
  .enrollment-facet {
    margin: 20px 10px 10px 10px;
  }
}

.enrollment {
	.log {
		position: relative;
		left: -3px;
		width: 30px;
		height: 30px;
	}
}

.addnewdialog {
  width: 700px;
  background-color: white;
}

.tableActionButtons {
  position: absolute;
      right: 0px;
 //     width: 300px;
      padding: 10px;


}
